<!doctype html>
<html>
<head>
    <title>Park Your Car - My Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
        body {
            word-wrap:break-word; 
        }
    </style>
</head>
<body>
    <div id='userToken' style="display: none;"><% if(user.local.token) {%>
      <%=user.local.token%>
      <%} else if(user.facebook.token) {%>
        <%=user.facebook.token%>
      <%} else {%>
        <%=user.google.token%>
      <%}
  %></div>
    <div id='userEmail' style="display: none;"><% if(user.local.email) {%>
        <%=user.local.email%>
        <%} else if(user.facebook.email) {%>
        <%=user.facebook.email%>
        <%} else {%>
        <%=user.google.email%>
        <%}
        %></div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                  <img alt="Brand" src="/images/lamborgini.jpg" style="width:50px;height:50px">
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/help">Help</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/search">Search</a></li>
                            <li><a href="/view">View</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button id="b1" type="button" class="btn btn-default">
                    <div id="flip1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button id="b2" type="button" class="btn btn-default">
                    <div id="flip2"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></div>
                </button>
            </div>
        </div>

    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>password</strong>: <%= user.local.password %>
                </p>
                <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>
            </div>
        </div>


        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                <p>
                    <strong>id</strong>: <%= user.facebook.id %><br>
                    <strong>token</strong>: <%= user.facebook.token %><br>
                    <strong>email</strong>: <%= user.facebook.email %><br>
                    <strong>name</strong>: <%= user.facebook.name %><br>
                </p>

                <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.google.token) { %>
                <p>
                    <strong>id</strong>: <%= user.google.id %><br>
                    <strong>token</strong>: <%= user.google.token %><br>
                    <strong>email</strong>: <%= user.google.email %><br>
                    <strong>name</strong>: <%= user.google.name %>
                </p>

                <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>

    </div>

</div>
<div class='table-responsive' id="resultDiv"></div>
<script> 
    $(document).ready(function(){
        $(".row").hide();
        $(".table-responsive").hide();
        $("#b1").click(function(){
            $(".row").slideToggle("slow");
        });
        $("#b2").click(function(){
            $(".table-responsive").slideToggle("slow");

            var sendInfo = {
                token : document.getElementById('userToken').innerHTML,
                email : document.getElementById('userEmail').innerHTML
            };

            var bookingTable = $("#resultDiv");

            $.ajax({
                type: "POST",
                url: "http://localhost:3000/api/view",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(sendInfo),
                success: function (data, status, jqXHR) {
                  // alert(JSON.stringify(data));
                  var resultData = "<table id='slotsTable'><tr><th></th><th>Floor Name</th><th>Slot Number</th><th>Checkin Time</th><th>Checkout Time</th></tr>";
                  for(index = 0; index < data.bookings.length; index++) {
                    resultData += "<tr><td><input class='cancelButton' type='button' value='lot" + index + "' name='lot'/></td><td class='floors'>" + data.bookings[index].floor_name + "</td><td class='slots'>" + data.bookings[index].slot_number + "</td><td class='checkin'>" + data.bookings[index].checkin_time + "</td><td class='checkout'>" + data.bookings[index].checkout_time + "</td></tr>";
                    }

                $(document).on('DOMNodeInserted', function(e) { $(e.target).addClass("table table-bordered table-striped table-condensed table-hover table-even-widths"); });
                resultData += "</table>";

                bookingTable.html(resultData);
            },

            error: function (jqXHR, status) {
              alert("Error:" + status);
          }
      });
});

    $(document).on("click", ".cancelButton", 
        function() {
            // $(this).parent().parent().remove();
            var sendInfo = {
                token : document.getElementById('userToken').innerHTML,
                email : document.getElementById('userEmail').innerHTML,
                floor_name : $(this).parents('tr').find('td.floors').text(),
                slot_number : $(this).parents('tr').find('td.slots').text(),
                checkin_time : $(this).parents('tr').find('td.checkin').text(),
                checkout_time : $(this).parents('tr').find('td.checkout').text()
            };

            $.ajax({
                type: "DELETE",
                url: "http://localhost:3000/api/cancel",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(sendInfo),
                success: function (data, status, jqXHR) {
                  window.location ="http://localhost:3000/profile";
                },

                error: function (jqXHR, status) {
                  alert("Error:" + status);
                }
            });
        }
    );

});
</script>
</body>
</html>