<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    td {
      padding : 10px;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
  <div id='userToken' style="display: none;"><% if(user.local.token) {%>
      <%=user.local.token%>
      <%} else if(user.facebook.token) {%>
        <%=user.facebook.token%>
      <%} else {%>
        <%=user.google.token%>
      <%}
  %></div>
  <div id='userEmail' style="display: none;"><% if(user.local.email) {%>
      <%=user.local.email%>
      <%} else if(user.facebook.email) {%>
        <%=user.facebook.email%>
      <%} else {%>
        <%=user.google.email%>
      <%}
  %></div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <img alt="Brand" src="/images/lamborgini.jpg" style="width:50px;height:50px">
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/help">Help</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/profile">View</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <form>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
          <input id="floor_name" name="floor_name" type="text" list="searchResults" autocomplete = "on" class="form-control" placeholder="Floor Name" aria-describedby="sizing-addon1" title="Please enter a Floor Name" required/>
          <datalist id="searchResults"></datalist>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
          <input id="booking_date" name="booking_date" type="date" class="form-control" placeholder="Date" aria-describedby="sizing-addon1" title="Please enter a Floor Name" required/>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
          <input id="checkin_time" name="checkin_time" type="time" class="form-control" placeholder="Date" aria-describedby="sizing-addon1" title="Please enter a Checkin Time" required/>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </span>
        <input id="checkout_time" name="checkout_time" type="time" class="form-control" placeholder="Date" aria-describedby="sizing-addon1" title="Please enter a Checkout Time" required/>
      </div>
    </div>
    <button id="searchButton" class="btn btn-warning btn-lg">Search</button>
  </form>
</div>
<div class='table-responsive' id="resultDiv"></div>

<script type="text/javascript">
  var selectedFloor = "";
  var selectedSlot = "";
  $(document).ready(function() {
    $('#searchButton').on('click', function() {

      var sendInfo = {
        token : document.getElementById('userToken').innerHTML,
        floor_name : $("#floor_name").val(),
        checkin_time : $("#booking_date").val() + 'T' + $("#checkin_time").val() + ':00.000Z',
        checkout_time : $("#booking_date").val() + 'T' + $("#checkout_time").val() + ':00.000Z'
      };

      //alert(sendInfo.checkin_time);

      var bookingTable = $("#resultDiv");

      $.ajax({
        type: "POST",
        url: "http://localhost:3000/api/search",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: JSON.stringify(sendInfo),
        success: function (data, status, jqXHR) {
          alert(JSON.stringify(data));
          if(data.status == 302)
            window.location = data.redirect;

          var resultData = "<table id='slotsTable'><tr><th></th><th>Floor Name</th><th>Slot Number</th></tr>";
          for(index = 0; index < data.parking_lots.length; index++) {
            resultData += "<tr><td><input type='radio' value='lot" + index + "' name='lot'/></td><td class='floors'>" + data.parking_lots[index].floor_name + "</td><td class='slots'>" + data.parking_lots[index].slot_number + "</td></tr>";
          }

          $(document).on('DOMNodeInserted', function(e) { $(e.target).addClass("table table-bordered table-striped table-condensed table-hover table-even-widths"); });
          resultData += "</table><button id='bookButton' class='btn btn-warning btn-lg' onclick='book()'>Book</button>";

          bookingTable.html(resultData);
        },

        error: function (jqXHR, status) {
          // alert("Error:" + status);
          window.location = "/";
        }
      });
      return false;
    });

    $('#floor_name').focus(function() {
      var dataList = $("#searchResults");
      dataList.empty();
      $.ajax({
        type: "GET",
        url: "http://localhost:3000/api/getFloors",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        // data: JSON.stringify(sendInfo),
        success: function (data, status, jqXHR) {
          for(index = 0; index < data.floors.length; index++) {
            var opt = $("<option></option>").attr("value", data.floors[index]);
            dataList.append(opt);
          }

        },

        error: function (jqXHR, status) {
          alert("Error:" + status);
        }
      });
    });
  });

  // Call booking service
  function book() {
    selectedFloor = $('input[name="lot"]:checked').parents('tr').find('td.floors').text();
    selectedSlot = $('input[name="lot"]:checked').parents('tr').find('td.slots').text();

    // alert(document.getElementById('userEmail').innerHTML);
    var sendInfo = {
      token : document.getElementById('userToken').innerHTML,
      email : document.getElementById('userEmail').innerHTML,
      floor_name : selectedFloor,
      slot_number : selectedSlot,
      checkin_time : $("#booking_date").val() + 'T' + $("#checkin_time").val() + ':00.000Z',
      checkout_time : $("#booking_date").val() + 'T' + $("#checkout_time").val() + ':00.000Z' 
    };

    // alert(selectedFloor + "----" + selectedSlot);

    $.ajax({
      type: "POST",
      url: "http://localhost:3000/api/book",
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      data: JSON.stringify(sendInfo),
      success: function (data, status, jqXHR) {
        if(data.status == 302)
          window.location = data.redirect;
        else
          window.location = "http://localhost:3000/profile";
      },

      error: function (jqXHR, status) {
        alert("Error:" + status);
      }
    });
  }

</script>
</body>
</html>